* {
  box-sizing: border-box;
}
.App{
  text-align: center;
}
html{
  background-color: #4169e1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-container {
  display: flex;
  align-items: center;
}

header .logo-container img {
  width: 15%;
  display: block;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

header nav a {
  color: plum;
}

header h1 {
  margin: 10px 0 30px;
}

section {
  margin-top: 50px;
}

.fa {
  padding: 20px;
  text-align: center;
  text-decoration:none;
  margin: 5px 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B599B;
  color: plum;
}

.fa-twitter {
  background: #55ACEE;
  color: plum
}

