.form-group{
    font-family: cursive;
    display: flex;
    justify-content: space-evenly;
    padding: 23px;
}

label {
    font-size: 23px;
}
.btn {
    border-radius: 20px;
    background-color: purple;
    border:none;
    color: white;
    padding: 15px 32px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 375px) {
    .Contact {
        width: 100%;
    }
}