h1 {
    font-family: cursive;
    font-size: 50px;
    color: rgb(112, 52, 209)
}

h2, h3, h4 {
    font-family: fantasy;
    margin-bottom: 0;
    padding: 0 10px;
    font-size: 35px;
    color: rgb(133, 52, 153);
}

p {
    font-size: 21px;
    padding:10px;
    line-height: 1.2;
    color: rgb(55, 22, 67);
}
.about {
    width: 100%;
}
.sidebar {
    width:200px;
    background-color:blanchedalmond;
    position: fixed;
    height:100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color:plum;
    padding: 16px;
    text-decoration:none;
}

.sidebar a.active {
    background-color: blanchedalmond;
    color: plum;
}

.sidebar a:hover:not(.active) {
    background-color:rgb(86, 27, 121);
    color:plum;
}

@media (max-width:1400px) {
    .sidebar {
        width:100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float:left;}
    div.content {margin-left:0;}
}
@media (max-width:800px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
@media (max-width:700) {
    .content-row {
        display: flex;
        flex-direction: column;
    }
}

img {
    border-radius: 10px;
    width: 20rem;
}

.cyr {
    width: 10rem;
}

.content-row {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-top: 1px solid black;
    padding-top: 20px;
}

.content-row div {
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 1.6rem;
    width: 80%;
}