h1 {
    font-family: cursive;
    font-size: 50px;
    color: silver
}

h2, h3, h4 {
    font-family: fantasy;
    margin-bottom: 0;
    padding: 0 10px;
    font-size: 25px;
    color: plum;
}

p {
    font-size: 16px;
    padding:10px;
    line-height: 1.2;
    color: rgb(190, 112, 216);
}
.about {
    width: 100%;
}
.app-nav {
    padding-top: 1.5rem;
    margin-top: 40px;
}
img {
    border-radius: 10px;
    width: 20rem;
}

.cyr {
    width: 10rem;
}

.content-row {
    display: flex;
    padding: 50px;
    border-top: 1px solid black;
    padding-top: 20px;
}

.content-row div {
    margin: 20px;
}

.container {
    margin: 0 auto;
    font-size: 1.6rem;
    width: 80%;
}

@media (max-width: 375px) {
    .container {
        width: 100%;
        
    }
}